<h3>Add::IVR</h3>
  <form id="form" #f1="ngForm">
    <nb-card>
      <nb-card-header>
        IVR Information
      </nb-card-header>
      <nb-card-body>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="ivr_name">IVR Name:</label>
                <input type="text" class="form-control" [(ngModel)]="ivr.name" [ngModelOptions]="{standalone: true}" placeholder="IVR Name" id="ivr_name" name="ivr_name" #ivr_name="ngModel" required/>
                <div  [hidden]="ivr_name.untouched || ivr_name.pristine" class="alert alert-danger">
                  <div [hidden]="!ivr_name.hasError('required')">Name is required</div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="description">Description:</label>
              <input type="text" class="form-control" [(ngModel)]="ivr.description" [ngModelOptions]="{standalone: true}"  placeholder="Enter Description" id="description" required/>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </form>
<nb-card>
  <nb-card-header>
    Design IVR
  </nb-card-header>

  <nb-card-body style="position:static !important"> 
    <div id="contain">
      <div id="" >
      <table style="border-style: none">
      <tr>
      <th colspan="2">
        Applications
      </th>
      </tr>
      <br>
      <tr>
      <!--
      <td><div id="answer-icon" class="draggable"><img src="../assets/images/ivr/small/answer.png" class="tool" title='Call Answer' /></div></td>
      !-->
      <td><div id="hangup-icon" class="draggable"><img src="assets/images/ivr/small/hangup.png" class="tool" title='Call Hangup'/></div></td>
      <td><div id="input-icon" class="draggable" ><img src="assets/images/ivr/small/getdigits.png" class="tool" title='Get Input' /></div></td>        
      <td><div id="voice_play-icon" class="draggable" ><img src="assets/images/ivr/small/voice_play.png" class="tool" title='Play Audio' /></div></td>
      <td><div id="transfer-icon" class="draggable" ><img src="assets/images/ivr/small/transfer.png" class="tool" title='Call Transfer' /></div></td>
      <td><div id="record-icon" class="draggable" ><img src="assets/images/ivr/small/recording.png" class="tool" title='Call Record' /></div></td>
      <td><div id="play_menu-icon" class="draggable"><img src="assets/images/ivr/small/options.png" class="tool" title='Options Menu' /></div></td>
      <td><div id="amd-icon" class="draggable"><img src="assets/images/ivr/small/amd.png" class="tool" title='Answering Machine Detection (AMD)' /></div></td>
      <td><div id="dnc-icon" class="draggable"><img src="assets/images/ivr/small/dnc.png" class="tool" title='Do Not Call (DNC)' /></div></td>
      <td><div id="tts-icon" class="draggable"><img src="assets/images/ivr/small/tts.png" class="tool" title='Play text-to-speech (TTS)' /></div></td>
      <td><div id="say_alpha-icon" class="draggable"><img src="assets/images/ivr/small/say_alpha.png" class="tool" title='Say Alpha' /></div></td>
      <td><div id="say_digit-icon" class="draggable"><img src="assets/images/ivr/small/say_digit.png" class="tool" title='Say Digit' /></div></td>
      <td><div id="say_number-icon" class="draggable"><img src="assets/images/ivr/small/say_number.png" class="tool" title='Say Number' /></div></td>
      <td><div id="say_date-icon" class="draggable"><img src="assets/images/ivr/small/say_date.png" class="tool" title='Say Date' /></div></td>
      <td><div id="say_time-icon" class="draggable"><img src="assets/images/ivr/small/say_time.png" class="tool" title='Say Time' /></div></td>
      <td><div id="callerid_set-icon" class="draggable"><img src="assets/images/ivr/small/setvariable.png" class="tool" title='Set Caller ID' /></div></td>
      </tr>
      </table>
      </div>
      <!--
      <div >
        <img id="drag_edit" src="../assets/images/edit_pencil.png" />
      </div>
      !-->
      <br>
      <div id="holder">
      </div>
      <div id="voice_play_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/voice_play.png"> Play Audio Application
          </nb-card-header>
          <nb-card-body>
            <form id="playAudFrm">  
              <label for="recording">Select Recording:</label>
              <select class = "form-control" id="playAudFrm_recording_id" name = "recording">  
                <option *ngFor="let recording of recording"  
                  [value] = "recording.recording_id" > {{recording.name}}  
                </option>  
              </select>  
            </form>
            <!--
            <br>
            <button [disabled] = "(SelectedV == null)" (click)="save_voice_play_data()" type="button" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      <div id="call_transfer_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/transfer.png"> Call Transfer Application
          </nb-card-header>
          <nb-card-body>
              <form id="ct_form"> 
                  <label for="extension">Select Extension:</label>
                  <select class = "form-control" id="ct_acc_id" name = "extension"> 
                    <option *ngFor="let ext of extension" 
                      [value] = "ext.account_id" >{{ext.username}} 
                    </option> 
                  </select>
              </form>
              <!--
              <br>
              <button [disabled] = "(SelectedCT == null)" (click)="save_call_trans_data()" type="button" class="btn btn-primary btn-xs">Save</button>
              !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      <div id="record_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/recording.png"> Record Application
          </nb-card-header>
          <nb-card-body>
            <div>  
              <label for="recording">Maximum Duration:</label>
              <input type="text" id="record_limit" class="form-control"><br>
              <p>Maximum duration (sec) to record. Set 0 or negative value to disable duration limit. </p> 
            </div>
            <br>
            <!--
            <button type="button" (click)="save_rec_limit()" id="rec_lim_btn" disabled class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      
      <div id="play_ivr_menu_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/options.png"> Play IVR Menu Application
          </nb-card-header>
          <nb-card-body>
            <div>  
              <p>Select Audio Recording and enter max allowed time for response</p>
              <label for="recording">Menu Message:</label>
              <select class = "form-control" id="play_menu_rec_id" name = "recording">  
                <option *ngFor="let recording of recording"  
                  [value] = "recording.recording_id" >{{recording.name}}  
                </option>  
              </select><br>
              <label for="recording">Wait for keypress:</label>
              <input type="text" id="keytimewait" value="10" class="form-control"><br>
            </div>
            <!--
            <br>
            <button type="button" (click)="save_play_menu_data()" [disabled]="(SelectedV == null)" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      <div id="tts_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/tts.png"> Text-to-Speech Application
          </nb-card-header>
          <nb-card-body>
            <label for="">Enter Text-to-speech:</label>
            <textarea class="form-control" placeholder="Actual Message" id="tts_data" rows="10" cols="10" required></textarea>
            <br>
            <!--
            <button type="button" id="tts_btn" (click)="save_tts_data()" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      <div id="say_alpha_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/say_alpha.png"> Say Alpha Application
          </nb-card-header>
          <nb-card-body>
            <p><b>Enter alphanumeric value or select variable</b> (a-z A-Z 0-9 !@#$*-+=/. and space allowed only) </p>
            <label for="">Select predefined variables:</label>
            <select class = "form-control" id="say_alpha_select" name = "menu">  
              <option *ngFor="let menu of menu"  
                [value] = "menu.value" >{{menu.name}}  
              </option>  
            </select>
            <br>
            <input type="text" id="say_alpha_In" class="form-control"><br>
            <!--
            <button type="button" (click)="save_alpha_data()" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      <div id="say_digit_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/say_digit.png"> Say Digit Application
          </nb-card-header>
          <nb-card-body>
            <p><b>Enter digit and/or select variable</b> (0-9 allowed only)</p>
            <label for="">Select predefined variables:</label>
            <select class = "form-control" id="say_digit_select" name = "menu">  
              <option *ngFor="let menu of menu"  
                [value] = "menu.value" >{{menu.name}}  
              </option>  
            </select>
            <br>
            <input type="text" id="say_digit_In" class="form-control"><br>
            <!--
            <button type="button" (click)="save_digit_data()" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      <div id="say_number_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/say_number.png"> Say number Application
          </nb-card-header>
          <nb-card-body>
            <p><b>Enter number and/or select variable</b>(0-9 and . allowed only)</p>
            <label for="">Select predefined variables:</label>
            <select class = "form-control" id="say_number_select" name = "menu">  
              <option *ngFor="let menu of menu"  
                [value] = "menu.value" >{{menu.name}}  
              </option>  
            </select>
            <br>
            <input type="text" id="say_number_In" class="form-control"><br>
            <!--
            <button type="button" (click)="save_number_data()" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      
      <div id="say_date_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/say_date.png"> Say Date Application
          </nb-card-header>
          <nb-card-body>
            <p><b>Enter date and/or select variable</b>(mm-dd-year)</p>
            <label for="">Select predefined variables:</label>
            <select class = "form-control" id="say_date_select" name = "menu">  
              <option *ngFor="let menu of menu"  
                [value] = "menu.value" >{{menu.name}} 
              </option>  
            </select>
            <br>
            <!--
            <input type="text" id="say_date_In" class="form-control"><br>
            !-->
            <input type="date" id="say_date_In" name="input" ng-model="date" placeholder="yyyy-MM-dd" class="form-control"/>
            <!--
            <button type="button" (click)="save_date_data()" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>
      
      <div id="say_time_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/say_time.png"> Say time Application
          </nb-card-header>
          <nb-card-body>
            <p><b>Enter time and/or select variable</b>(Hour:Minute)</p>
            <label for="">Select predefined variables:</label>
            <select class = "form-control" id="say_time_select" name = "menu">  
              <option *ngFor="let menu of menu"  
                [value] = "menu.value" >{{menu.name}}  
              </option>  
            </select>
            <br>
           
            <input type="time" id="say_time_In" class="form-control"><br>
          </nb-card-body>
        </nb-card>
      </div>
      
      <div id="caller_id_form" class="div2">
        <nb-card>
          <nb-card-header>
            <img src="../assets/images/ivr/small/setvariable.png"> Set Caller ID Application
          </nb-card-header>
          <nb-card-body>
            <p><b>Enter value for outgoing callerid</b>(only numbers are allowed)</p>
            <label for="">Select predefined variables:</label>
            <select class = "form-control" id="set_caller_select" name = "menu">  
              <option *ngFor="let menu of menu"  
                [value] = "menu.value" >{{menu.name}}  
              </option>  
            </select>
            <br>
            <input type="text" id="set_caller_In" class="form-control"><br>
            <!--
            <button type="button" (click)="save_caller_data()" class="btn btn-primary btn-xs">Save</button>
            !-->
          </nb-card-body>
        </nb-card>
      </div>      
  </div>
    </nb-card-body>
</nb-card>



<div *ngIf="(program_id>0)">
  <button type="button" [disabled]="(ivr.name == null || ivr.name == '')" class="btn btn-primary btn-block" (click)="updateIVRData()">Update</button>
</div>
<div *ngIf="(!program_id)">
  <button type="button" [disabled]="(ivr.name == null || ivr.name == '')" class="btn btn-success btn-block" (click)="postIVRData()">Submit</button>
</div>