.container{
  background-color:red;
  width: 400px; height:200px; margin:0 auto;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, .5) 95px , transparent 50%),
  linear-gradient(rgba(255, 255, 255, 0) 5px, transparent 100%);
  background-size: 100px  100%;
}