<h3>Add::Text</h3>
<div class="col-lg-12">
<form id="form1" #f1="ngForm">
<nb-card>
    <nb-card-header>
      Text Information
    </nb-card-header>
  <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Text Name:</label>
            <input [(ngModel)]="text.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Text Name" id="name" required/>
          </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Text Data
  </nb-card-header>
  <nb-card-body>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="data">Message:</label>
        <textarea [(ngModel)]="this.text.data" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Actual Message" id="data" rows="10" cols="30" required></textarea>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    Description
  </nb-card-header>
  <nb-card-body>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="description">Description:</label>
        <input [(ngModel)]="text.description" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="Description" id="description" required/>  
      </div>
    </div>
  </nb-card-body>
</nb-card>

<div *ngIf="(text_id>0)">
    <button type="button" class="btn btn-primary" (click)="updateText()">Update</button>
</div>
<div *ngIf="(!text_id)">
    <button type="button" class="btn btn-success" (click)="addText()">Submit</button>
</div>
</form>
</div>
